.wrapper {
  position: sticky;
  top: calc(151px + 6em);
  display: grid;
  grid-row-gap: 1.5em;
}

.header {
	font-size: 2rem;
	font-weight: bold;
}

.summary-container {
  border: 1px solid black;
  display: grid;
  gap: .75rem;
  padding: 2rem;
}

.section {
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info {
  font-size: 1rem;
  font-weight: normal;
  color: gray;
}

.line {
  border-top: 2px solid lightgray;
}

.total {
  font-size: 2rem;
}

.button {
  font-size: 1.25rem;
  font-weight: bold;
  padding-block: .75em;
  margin-top: .5em;

  background-color: #71bd75;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  border: none;
}

.button:hover {
  background-color: #4c9950;
}