.container {
  display: flex;

  border: 2px solid gray;
  border-radius: 10px;
  overflow: hidden;
}

.button {
  display: grid;
  place-content: center;
  font-size: 1.5rem;
  padding: .25em .5em;
  cursor: pointer;
  border: none;

  background-color: #D18373;
  color: white;
}

.button:hover {
  background-color: #9E6357;
}

.quantity {
  flex-grow: 1;
  width: 9ch;
  padding-inline: 1em;
  text-align: center;
}

.amount {
  font-size: 1.25rem;
  font-weight: bold;
}

.unit {
  font-size: 1rem;
  color: gray;
}