.selector {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  border: 1px solid black;
  border-radius: 5px;
}

.display {
  flex-grow: 1;
  text-align: center;
  align-self: center;

  padding-inline: 1em;
}

.quantity {
  font-size: 1.5rem;
  font-weight: bold;
}

.unit {
  font-size: 1rem;
  color: gray;
}

.buttons {
  display: grid;
  gap: 1px;
}

.buttons > * {
  padding: .25em .75em;
  border: none;
  cursor: pointer;
  
  font-size: 1.25rem;
  font-weight: bold;
  color: white;
  background-color: #854E42;
}