.item-container {
  display: flex;
  gap: 1em;
  padding: .5em;
  background-color: var(--color-neutral-light);
  border: 2px solid var(--color-neutral-darker);
  border-radius: 10px;
  box-shadow: var(--box-shadow-bottom);
  overflow: hidden;
}

.image {
  aspect-ratio: 16/10;
  width: 170px;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.body {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.body > * {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: .5em;
}

.title {
  grid-area: title;
  font-size: 1.5rem;
  font-weight: bold;
}

.unit-info {
  font-size: 1rem;
  font-weight: normal;
}

.button {
  background: none;
	border: none;
	align-self: flex-end;
	cursor: pointer;
	font-size: 1.2rem;
}

.button:hover {
  color: var(--color-neutral-darker);
}

.selector {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.label {
  font-size: 1rem;
  font-weight: bold;
}

.price-info {
  display: grid;
	text-align: right;
}

.info {
	font-size: 1rem;
	color: var(--color-neutral-darker);
}

.price {
	font-size: 2rem;
	font-weight: bold;
}