.main {
	display: grid;
}

.main_heading {
	font-size: 6rem;
	font-weight: bold;
	line-height: 1;
}

.secondary_heading {
	font-size: 4rem;
	font-weight: bold;
	text-align: center;
}

.terciary_heading {
	font-size: 2.5rem;
	font-weight: bold;
}

.quaternary_heading {
	font-size: 2rem;
	font-weight: bold;
}

.normal_text {
	font-size: 1.5rem;
	font-weight: normal;
	line-height: 1.3;
}

.section {
	padding-block: 6rem;
	padding-inline: 14rem;
}

.section__secondary {
	display: grid;
	grid-row-gap: 2em;
}

.section__bg_main h3,
.section__bg_main h4 {
	color: var(--color-primary);
}

.section__bg_primary {
	background-color: var(--color-background-primary);
}

.section__bg_primary h3,
.section__bg_primary h4 {
	color: var(--color-secondary-darker);
}

.section__hero {
	display: flex;
	gap: 6em;
}

.hero__main {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 4em;
}

.hero__text {
	display: flex;
	flex-direction: column;
	gap: 2em;
}

.hero__image {
	max-width: 50%;
	height: 100%;
	border-radius: 20px;
	object-fit: cover;
}

.cta_button {
	font-size: 2rem;
	font-weight: bold;

	padding: 0.5em 3em;

	background-color: var(--color-primary);
	color: var(--color-neutral-light);
	border: none;
	border-radius: 10px;
	cursor: pointer;

	transition: background-color 0.175s ease-in-out, transform 0.1s ease-in-out;
}

.cta_button:hover {
	background-color: var(--color-primary-darker);
}

.cta_button:active {
	transform: scale(0.9);
}

.benefits_section__body {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	gap: 5em;
}

.benefit__wrapper {
	display: flex;
	flex-direction: column;
	gap: 1.5em;
	flex: 1 1 0px;
	text-align: center;
}

.benefit__image {
	height: 250px;
	border-radius: 50%;
	object-fit: cover;
}

.benefit__body {
	display: grid;
	grid-row-gap: 0.5em;
}

.social_section__body {
	display: flex;
	flex-wrap: wrap;
	gap: 2.5em;
}

.social_card__wrapper {
	flex: 1 1 450px;
	display: flex;
	flex-direction: column;
	gap: 1em;
	justify-content: flex-start;
}

.social_card__tag {
	display: flex;
	gap: 1em;
	align-items: center;
}

.social_card__image {
	background-color: gray;
	border-radius: 50%;
	aspect-ratio: 1/1;
	width: 50px;
	height: 100%;
	object-fit: cover;
}

.features_section__body {
	display: grid;
	place-content: center;
	grid-row-gap: 1.5em;
}

.feature__wrapper {
	display: flex;
	gap: 1em;
	align-items: center;
}

.feature__icon {
	font-size: 4rem;
	color: var(--color-secondary-darker);
}

.secondary_cta__body {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.5em;
}
