.category {
	display: grid;
	background-color: var(--color-neutral-light);
	border: 2px solid var(--color-neutral-darker);
	border-radius: 10px;
	box-shadow: var(--box-shadow-bottom);
	overflow: hidden;
	cursor: pointer;
	transition: all .2s ease-in-out;
}

.category:hover {
	scale: 102%;
}

.category__image {
	object-fit: cover;
	height: 230px;
}

.category__label {
	font-size: 1.75rem;
	font-weight: bold;
	padding-block: 0.4em;
	border-top: 2px solid var(--color-neutral-darker);
	background-color: var(--color-neutral-light);
}
