.wrapper {
	display: grid;
	background-color: var(--color-neutral-light);
	border: 2px solid var(--color-neutral-darker);
	border-radius: 10px;
	box-shadow: var(--box-shadow-bottom);
	overflow: hidden;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	color: var(--color-neutral-darkest);
	text-decoration: none;
}

.wrapper:hover {
	scale: 102%;
}

.image {
	object-fit: cover;
	height: 230px;
}

.label {
	font-size: 1.75rem;
	font-weight: bold;
	text-align: center;
	padding-block: 0.4em;
	border-top: 2px solid var(--color-neutral-darker);
	background-color: var(--color-neutral-light);
}
