$color-background-main: #ebf7ff;
$color-background-primary: #daf9d9;
$color-background-nav: #ffeed6;
$color-background-modal: rgba(0, 0, 0, 0.5);

$color-primary: #53a65a;
$color-primary-darker: #267d35;
$color-secondary: #a66c5f;
$color-secondary-darker: #8b4513;

$color-neutral-light: #fff;
$color-neutral-darker: gray;
$color-neutral-darkest: #000;
