.container {
	display: flex;
	justify-content: space-between;
	z-index: 100;

	padding: 2em 1.5em;

	background-color: var(--color-neutral-light);
	box-shadow: var(--box-shadow-bottom);
}

.label {
	font-size: 2rem;
	font-weight: bold;
}

.button {
	display: flex;
	align-items: center;
	gap: 0.1em;
	font-size: 1.25rem;
	cursor: pointer;
	background: none;
	border: 2px solid transparent;
	transition: all .2s ease-in-out;
}

.button:hover {
	padding-inline: .5em;
	border-bottom: 2px solid var(--color-neutral-darkest);
}
