.wrapper {
	display: flex;
	flex-direction: column;
	gap: .75em;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-inline: .25em;
	padding-bottom: .1em;
	background-color: transparent;
	border: none;
	border-bottom: 2px solid var(--color-neutral-darkest);
	cursor: pointer;
}

.header__label {
	text-transform: capitalize;
	font-size: 1.5rem;
	font-weight: bold;
}

.item__list {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	padding-inline: .25em;
	list-style: none;
}