.wrapper {
	display: flex;
	flex-direction: column;
	gap: .2em;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: .25em;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.label {
	text-transform: capitalize;
	font-size: 1.5rem;
	font-weight: bold;
}

.toggle {
	background-color: black;
	width: 10px;
	height: 10px;
}

.item-list {
	display: flex;
	flex-direction: column;
	gap: 0.25em;
	list-style: none;
}