.wrapper {
	display: flex;
	flex-direction: column;
	gap: .5em;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-inline: .25em;
	padding-bottom: .1em;
	background-color: transparent;
	border: none;
	border-bottom: 2px solid black;
	cursor: pointer;
}

.label {
	text-transform: capitalize;
	font-size: 1.5rem;
	font-weight: bold;
}

.line {
	border: 1px solid black;
}

.item-list {
	display: flex;
	flex-direction: column;
	gap: 0.25em;
	padding-inline: .25em;
	list-style: none;
}