.button {
  position: relative;
  padding-inline: 2em;
  padding-block: 0.5em;

  border: 3px solid #89f08e;
  background-color: white;
  cursor: pointer;
}

.badge {
	background-color: red;
	border-radius: 50%;
	color: white;
	display: inline-block;
	font-size: 1rem;
	line-height: 1;
	padding: 0.5em;
	position: absolute;
	right: 0;
	top: 0;
	transform: translate(50%, -50%);
}
