.button {
  position: relative;
  padding-inline: 2em;
  padding-block: 0.5em;

  border: 3px solid #89f08e;
  background-color: white;
  cursor: pointer;
}

.label {
  display: flex;
  align-items: center;
  gap: .5em;
  font-weight: bold;
}

.badge {
	background-color: #b94517;
	border-radius: 50%;
	color: white;
	display: inline-block;
	font-size: 1.5rem;
	line-height: 1;
	padding: 0.4em;
	position: absolute;
	right: 0;
	top: 0;
	transform: translate(50%, -50%);
}

.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
