.wrapper {
	display: grid;
  width: min-content;
	border: 1px solid black;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

.image {
	height: 200px;
	object-fit: cover;
}

.body {
	display: grid;
	gap: 1rem;
	padding: 1rem;
}

.line {
	border-top: 2px solid black;
}

.price-quantity {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.button {
	padding: 0.5em 3em;
	background-color: #7DD181;
	color: white;
	border: none;
	border-top: 1px solid black;
	align-self: end;

	font-size: 1.25rem;
	font-weight: bold;

	white-space: nowrap;
	text-align: center;
	cursor: pointer;
}
