.wrapper {
	display: grid;
	gap: 0.75em;
	max-width: 80%;
	padding: 0.75em;
	background-color: var(--color-neutral-light);
	border: 2px solid var(--color-neutral-darker);
	border-radius: 10px;
	overflow: hidden;
	box-shadow: var(--box-shadow-bottom);
}

.image {
	height: 200px;
	object-fit: cover;
	border-radius: 10px;
}

.body {
	display: grid;
	grid-row-gap: 1em;
}

.line {
	border-top: 2px solid var(--color-neutral-darkest);
}

.price__quantity {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.button {
	padding-block: 0.45em;
	margin-top: 0.25em;

	background-color: var(--color-primary);
	color: var(--color-neutral-light);
	border: none;
	border-radius: 10px;
	align-self: end;

	font-size: 1.5rem;
	font-weight: bold;

	white-space: nowrap;
	text-align: center;
	cursor: pointer;

	transition: background-color 0.175s ease-in-out, transform 0.1s ease-in-out;
}

.button:hover {
	background-color: var(--color-primary-darker);
}

.button:active {
	transform: scale(0.9);
}
