.modal__background {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--color-background-modal);
	z-index: 9999;
}

.background__opening {
	animation: background__fadein 0.3s;
}

@keyframes background__fadein {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.background__closing {
	animation: background__fadeout 0.3s;
}

@keyframes background__fadeout {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.modal__content {
	position: fixed;
	top: 0;
	right: 0;
	min-width: 25%;
	height: 100dvh;

	display: grid;
	grid-template-rows: auto 1fr auto;

	background-color: var(--color-background-main);
}

.modal__opening {
	animation: modal__fadein 0.3s;
}

@keyframes modal__fadein {
	0% {
		right: -100%;
		opacity: 0;
	}
	100% {
		right: 0;
		opacity: 1;
	}
}

.modal__open {
	overflow: hidden;
}

.modal__content__empty {
	grid-template-rows: auto 1fr;
}

.modal__closing {
	animation: modal__fadeout 0.3s;
}

@keyframes modal__fadeout {
	0% {
		right: 0;
		opacity: 1;
	}
	100% {
		right: -100%;
		opacity: 0;
	}
}
