.container {
	display: flex;
	justify-content: space-between;
	z-index: 100;

	padding: 2em 1.5em;

	background-color: var(--color-neutral-light);
	box-shadow: var(--box-shadow-bottom);
}

.label {
	font-size: 2rem;
	font-weight: bold;
}

.close__button {
	background: none;
	border: none;
}

.close__button:after {
	display: block;
	content: "";
	border-bottom: solid 2px var(--color-primary);
	transform: scaleX(0);
	transition: transform 150ms ease-in-out;
}

.close__button:hover:after {
	transform: scaleX(1);
}

.close__button__content {
	display: flex;
	align-items: center;
	gap: 0.1em;
	padding-inline: 0.25em;
	font-size: 1.25rem;
	cursor: pointer;
	background: none;
	transition: all 0.2s ease-in-out;
}
