.nav {
	position: sticky;
	top: 0;
	left: 0;
	
	width: 100%;
	padding-inline: 8em;
	padding-block: 4em;

	display: flex;
	flex-direction: row;
	justify-content: space-between;

	background-color: white;
	border-bottom: 1px solid black;
}

.link {
	text-decoration: none;
	color: black;
}

.logo {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1em;
}

.logo > span {
	height: 100%;
	aspect-ratio: 1/1;
	border-radius: 50%;
	background-color: #89f08e;
}

.logo > h1 {
	font-size: 3.5rem;
	font-weight: 800;
	white-space: nowrap;
}

.menu {
	font-size: 2rem;

	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 6rem;

	list-style: none;
}

.store {
	font-weight: bold;
	padding-inline: 2em;
	padding-block: 0.5em;

	border: 3px solid #89f08e;
}
