.nav-full {
	position: sticky;
	top: 0;
	left: 0;

	width: 100%;
	max-height: calc(96px + 55px);
	padding-inline: 8em;
	padding-block: 3em;

	display: flex;
	flex-direction: row;
	justify-content: space-between;

	background-color: white;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.link {
	text-decoration: none;
	color: black;
}

.stacked {
	display: grid;
	gap: 1em;
}

.logo {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1em;
}

.logo-image {
	height: 100%;
	aspect-ratio: 1/1;
	border-radius: 50%;
	background-color: #89f08e;
}

.logo-name {
	font-size: 3rem;
	font-weight: bold;
	white-space: nowrap;
}

.menu {
	font-size: 1.75rem;

	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 3em;

	list-style: none;
}

.store {
	font-weight: bold;
	padding-inline: 2em;
	padding-block: 0.5em;

	border: 3px solid #89f08e;
}

.nav-simple {
	position: sticky;
	top: 0;
	left: 0;

	width: 100%;
	max-height: calc(96px + 55px);
	display: grid;
	place-content: center;
	padding-block: 3em;
	background-color: white;
	border-bottom: 1px solid black;
}
