.wrapper {
	border: 2px solid var(--color-neutral-darker);
	border-radius: 10px;
	box-shadow: var(--box-shadow-bottom);
	background-color: var(--color-neutral-light);
	display: flex;
	gap: 0.5em;
	padding: 0.75rem;
}

.image {
	border-radius: 10px;
	width: 90px;
	height: 90px;
	object-fit: cover;
}

.body {
	width: 100%;
	display: flex;
	justify-content: space-between;
	gap: 0.5em;
}

.body > * {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.header {
	min-width: 10ch;
	max-width: 35ch;
	word-wrap: break-word;
	vertical-align: top;
}

.name {
	width: 20ch;
	font-size: 1.5rem;
	font-weight: bold;
}

.unit-info {
	font-size: 1.1rem;
}

.quantity {
	font-size: 1.2rem;
}

.price-info {
	display: grid;
	text-align: right;
}

.info {
	font-size: 1rem;
	color: var(--color-neutral-darker);
}

.price {
	font-size: 1.5rem;
	font-weight: bold;
}

.button {
	background: none;
	border: none;
	align-self: flex-end;
	cursor: pointer;
	font-size: 1.2rem;
	transition: all .1s ease-in-out;
}

.button:hover {
	color: var(--color-neutral-darker);
}
