.main {
	padding-block: 6rem;
	padding-inline: 12rem;

	background-color: var(--color-background-main);
}

.header {
	margin-bottom: 2rem;
}

.header > h1 {
	text-align: center;
	font-size: 2.5rem;
	font-weight: 800;
	text-transform: capitalize;
}

.button {
	display: flex;
	align-items: center;
	gap: 0.25em;
	padding-block: 0.35em;
	font-size: 1.75rem;
	font-weight: bold;
	color: var(--color-primary);
	background: none;
	border: 2px solid transparent;
	cursor: pointer;

	transition: all .2s ease-out;
}

.button:hover {
	color: var(--color-primary-darker);
	background-color: var(--color-neutral-light);
	padding-inline: 1.5em;
	border: 2px solid var(--color-primary-darker);
	border-radius: 10px;
}
