.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.label {
	font-size: 2rem;
	font-weight: bold;
}

.button {
	display: flex;
	align-items: center;
	gap: 0.5em;
	padding-block: 0.5em;
	font-size: 1.25rem;
	font-weight: bold;
	color: var(--color-primary);
	background: none;
	border: 2px solid transparent;
	cursor: pointer;

	transition: all 0.2s ease-out;
}

.button:hover {
	color: var(--color-primary-darker);
	background-color: var(--color-neutral-light);
	padding-inline: 1.5em;
	border: 2px solid var(--color-primary-darker);
	border-radius: 10px;
}

.basket-container {
	display: grid;
	gap: 1.5em;
	list-style: none;

	background-color: var(--color-neutral-light);
	border: 1px solid var(--color-neutral-darkest);

	padding: 2rem;
}
